.cell {
    -fx-border-color: black;
    -fx-border-width: 1px;
}
.npc {
	-fx-background-color: red;
}
.craft {
	-fx-background-color: green;
}
.hero {
	-fx-background-color: blue;
}
textarea {
	-fx-font-size: 4em;
}